@import url(css\ 1.css);

.container {
  display: flex;
  gap: 5rem;
  margin-top: 7rem;
}

.container img {
  max-height: 600px;
  min-width: 300px;
}

.top-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.actor > h1 {
  font-size: 3em;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
}

.actor > h1 span {
  color: #000;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.ttt {
  color: rgb(11, 111, 154);
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.actor > h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: rgb(11, 111, 154);
  margin: 10px auto 0;
  border-radius: 2px;
}
