@import url(css\ 1.css);

.movie-card {
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 15px;
  width: 400px;
  text-align: center;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.01);
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
}

.remove-fav {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.Special {
  font-size: 3em;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
}

.Special span {
  color: #000;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Special .ttt {
  color: rgb(11, 111, 154);
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.Special::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: rgb(11, 111, 154);
  margin: 10px auto 0;
  border-radius: 2px;
}

.main {
  margin-top: 8rem;
}
